.headline{
    font-size:30px;font-weight:bold;
    margin-top:15px;
    margin-bottom:5px;
    text-align:center;
}
.desktop-menu{
text-align: center;
display:block;
font-weight:bold;
padding:24px 28px;
margin-top:10px;
margin-bottom:10px;
background-color:rgb(0, 173, 204);
color: white;
padding:10px;
-webkit-tap-highlight-color: transparent; /* removes tap higlight on ios */
touch-action: manipulation; /* Optimizes touch behavioe */
}

.desktop-menu:hover{ /* mouse over any element with the class will change to darker blue,desktop device only*/
    background-color:rgb(0, 140, 174);
}
.content{
    display:none;
    padding:10px;
    background-color:#f9f9f9;
    margin-top: 5px;
    overflow: hidden; /* prevents content from bleeding through, but it's not necessary in my case */
}
.active .content{
    display:block;
}


/*below are handling the cross device situations*/
.mobile-menu{
text-align:center;
display:none;
}
.list{
    display:flex;justify-content:center;
}
.product{
    flex:none;width:280px;margin:10px;
    background-color: #ffcccc;
}
/*1280 is the minimum size of desktop, set the boundary as 1250px, if the screen size smaller than 1250px then use below*/
@media(max-width:1250px){
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
}
/*cellphone size sample; if size is smaller then 500px then use below*/
@media(max-width:500px){
    .headline{
        font-size:20px;
    }
    .desktop-menu{
        text-align: center;
        flex-wrap:wrap;
    }
    .mobile-menu{
        text-align:center;
        display:none; 
    }
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:90%;
    }
}
