.headline{
    font-size:30px;font-weight:bold;
    font-family: -apple-system,'SF Pro Text','SF Pro','PingFang TC','Helvetica Neue','Microsoft JhengHei', '微軟正體黑','Heiti TC';
    margin-top:15px;
    margin-bottom:5px;
    text-align:center;
    color:white;
    background-color: #262637;
    padding:30px;
    border-radius:10px;
}
.desktop-menu{
text-align: center;
display:block;
font-weight:bold;
font-family: 'PingFang TC','Microsoft JhengHei', '微軟正體黑','Heiti TC';
margin-top:10px;
margin-bottom:10px;
background-color:#e5f1ee;
color: Black;
border-radius:24px;
border:1px solid #107a84;
padding:10px;
-webkit-tap-highlight-color: transparent; /* removes tap higlight on ios */
touch-action: manipulation; /* Optimizes touch behavior */
}

.desktop-menu:hover{ /* mouse over any elements with the class will change to darker blue,desktop device only*/
    background-color:#00deb6;
    color:#030316;
}
.content{
    text-align:left;
    font-family: 'PingFang TC','Microsoft JhengHei', '微軟正體黑','Heiti TC';
    display:none;
    padding:10px;
    background-color:#f9f9f9;
    margin-top: 5px;
    overflow: hidden; /* prevents content from bleeding through, but it's not necessary in my case */
}
.active .content{
    display:block;
}

.content link {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 90%; /* Use percentage for fluid width */
    max-width: 250px; /* Limit max width for larger screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Smooth background transition */
    cursor: pointer; /* Indicate that the block is clickable */
    background-color: #262637;
}

.content link:hover {
    background-color: #f0f0f0bd; /* Light background on hover */
}

/*below are handling the cross device situations*/
.mobile-menu{
text-align:center;
display:none;
}
.list{
    display:flex;
    justify-content:center;
}
.product{
    flex:none;width:280px;margin:10px;
    background-color: #ffcccc;
}
@media(max-width:1250px){ /*1280 is the minimum size of desktop, set the boundary as 1250px, if the screen size smaller than 1250px then use below*/
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
}

@media(max-width:500px){ /*cellphone size sample; if size is smaller then 500px then use below*/
    .headline{
        font-size:20px;
    }
    .desktop-menu{
        flex-wrap:wrap;
    }
    .product{
        width:90%;
    }
}
